<h1>User Info</h1>
<p> 
    <div><b>User's First Name: </b>{{first_name}}</div>
    <div><b>User's Last Name: </b>{{last_name}}</div>
    <div><b>User's Unique ID: </b>{{unique_id}}</div>
    <div><b>JWT Value: </b>{{token}}</div>
</p>