<h1>Welcome to Andrew Tiu's OAuth App</h1>

<p>By clicking the button below, you will be redirected to login with a Google account and permission to access your email and profile will be requested.
    You will then be redirected to another page where your unique ID, first name, last name and the value of the JWT attribute returned will be displayed.
</p>
    <a href="/oauth_redirect">
      <input type="submit" value="Visit Google OAuth 2.0 Endpoint"/>
    </a>